
body{
    font-family: 'Poppins', sans-serif;
}


.banner-img{
    border-radius: 50%;
    width: 450px;
    height: 450px;
    object-fit: cover;
}


.banner-title{

font-size: 65px;
font-weight: 700;
}

.paragraph-title{

    font-size: larger;
}

.feature:hover{

    transform: scale(1.1);
    transition: transform .9s;
}

.image-size{

    width: 304px;
    height: 207px;
}

.card-heading{

    text-align: center;
    font-size: 40px;
    color:#0d6efd;
}

.card-body{

    width: 304px;
    height: 190px;
}

.card:hover .course-img{

    transform: scale(1.5);
    
}

.course-img{

    transition: all .9s;
}

.card{

    overflow: hidden;
    
}